*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.2;
	font-family:Open Sans;sans-serif;
	color:#444444;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul,ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* Hamranhansenhansen says:October 7, 2009 at 6:39 am
> CSS Unreset (aka base stylesheet)
> So this is not a reset stylesheet proper, but more like a base stylesheet

The semantics you’re using are completely meaningless. Base or reset, call it what you will, the point of it is to smooth out the differences in various user agent (browser) stylesheets. You could call it “smooth stylesheet” or “neutral stylesheet” it doesn’t matter. However, for some years now, the Web development community has been calling these “reset stylesheets” because that’s what Eric Meyer called them in his widely-read book on CSS.

If you make a site that is completely devoid of any CSS, it will still have a stylesheet applied to it by the browser. That stylesheet comes first in the cascade. If you make only one more stylesheet, the page will look different in each browser because in Firefox you are seeing the Firefox stylesheet plus your stylesheet, and in WebKit you’re seeing the WebKit stylesheet and then your stylesheet. If you put a reset stylesheet in-between the user agent stylesheet and the site stylesheet, then the reset gives you a common base to work from that is independent of various browsers.

Ideally, there would be no need for an HTML5 reset stylesheet because the spec covers browsers also, and defines how each browser should apply a user agent stylesheet in a standard way, however not all browsers are up to the spec yet.

In practice, a reset stylesheet makes it easier to treat an HTML page like you are working in a layout program instead of a word processor. You ask for 5em of space and you get it, not 4em instead because some element already has a 1em margin.

It feels intellectually satisfying to know all the default margins and which browser messes up what, but there are so many ugly, ugly pages on the Web, the priority should be the creative satisfaction of making solid, readable layouts. There is still a movement in Web design to use tables for layout because CSS can be so easily overcomplicated. Anything that makes it easier to go from zero to a great-looking page in all browsers should get strong consideration.

Reply
 Florent V. says:October 7, 2009 at 7:54 am
The semantics you’re using are completely meaningless. Base or reset, call it what you will, the point of it is to smooth out the differences in various user agent (browser) stylesheets.

I disagree. Yes, there is a common goal, but i have presented two different takes on that “smooth out the differences” goal. One is the classic Reset stylesheet, which zeroes out everything it can. Another one is trying to stay close to the browser’s default styles, while rounding a few angles (figuratively). You can mix the two (my own “base stylesheet” is roughly 80% base and 20% reset), so the differences are not absolute. Still, i think that the distinction is far from meaningless, though it may be of more importance to specialists (front-end developers) than to occasional CSS coders.

Reply
Reset CSS para HTML5 says:October 27, 2009 at 12:24 am
[…] para eliminar diferencias entre navegadores desde el principio. Pues ahora os traemos de la mano de html5doctor.com un nuevo reset CSS adaptado a HTML5. Incluye las nuevas etiquetas y elimina las que ya no […]

Reply
Collection of HTML5 Resources to Move You Forward says:November 4, 2009 at 2:45 pm
[…] HTML5 Reset Stylesheet […]

Reply
 Michael says:November 16, 2009 at 5:17 pm
The point of these reset stylesheets is to generally get everyone on the same track and to encourage progressive design while still supporting aged, or poor browsers.

You might even consider adding

 body { font-size: 75%; } 

to make the base text size 12px (which I personally feel is a little small) or alternatively

 body { font-size: 62.5%; } 

for 10px

Either or.

Reply
How To Support Internet Explorer and Still Be Cutting Edge - Smashing Magazine says:December 1, 2009 at 2:02 pm
[…] it.With the advent of HTML5, including the new HTML elements in your CSS reset is also a good idea. html5doctor provides a good update to Eric Meyer’s reset that you can use for free in your projects.You can […]

Reply
How To Support Internet Explorer and Still Be Cutting Edge | Programming Blog says:December 1, 2009 at 2:44 pm
[…] the advent of HTML5, including the new HTML elements in your CSS reset is also a good idea. html5doctor provides a good update to Eric Meyer’s reset that you can use for free in your […]

Reply
How To Support Internet Explorer and Still Be Cutting Edge says:December 1, 2009 at 2:49 pm
[…] the advent of HTML5, including the new HTML elements in your CSS reset is also a good idea. html5doctor provides a good update to Eric Meyer’s reset that you can use for free in your […]

Reply
How To Support Internet Explorer and Still Be Cutting Edge | Web Developer says:December 4, 2009 at 5:48 pm
[…] the advent of HTML5, including the new HTML elements in your CSS reset is also a good idea. html5doctor provides a good update to Eric Meyer’s reset that you can use for free in your […]

Reply
 Hikari says:December 27, 2009 at 4:27 am
I’ve finally started developing a WordPress theme from scratch from my sites and I used your HTML5 Reset for it. I’ve done some changes and I’d like to share them with you.

1) I removed ul, ol and li from that first blob of resets. Leaving them there had broken nested lists, they were being shown all with the same margin, as if they were 1 unique list, and with no list-style-type. It would take too work to restyle nested margins with different list-style-type for each nesting, so instead of turning everything to 0 I copied FireFox’s default style, which seems to be very complete.

Interesting that together with ul and ol, FireFox also styles dir and menu with them, and sets it all perfect.

2) I know about deprecated HTML4 elements, but still people may use them. I know that FCKEdit uses strike instead of del, and also people may still have <u> around.

Talking about <u>, I’ve found a nice replacement for it. A simple .ul class setting text-decoration:underline is the obvious replacement. But instead of using it with a span, I’ve defaulted it for em, so that when they are together italic is replaced for normal and underline is set.

That’s nice because underline is meant for emphasing a text, so nothing better for Semantic purposes if em is used, together with a class, for underlining too.

3) I’ve also removed <q> resetting, setting default content and quotes for it. I know HTML spec says each language should have their specific quote… maybe somebody could share a full list of laguage quotes so that we can add to our reset :P

In general, I don’t like the idea of CSS Reset cleaning everything. CSS Reset should be meant for resetting browser inconsistent defaults, setting our default over them… and not for resetting styles themselves.

Reply
 Hikari says:December 27, 2009 at 4:32 am
Ah! 1 more thing.

Bringing strike and u back still validated it over CSS 2.1, so I don’t think those elements should be excluded just because the reset is meant for HTML5.

Let HTML5 validators ding users that still use those elements! Let’s not mix markup matters with styling matters… If we ommit them, what will happen in practice is that they will be styled by browsers defaults, which is what we wanna avoid with CSS Resets to begin with.

If we wanna use styling to blame invalid HTML5 elements, it would be better to set some odd styling to them, like a background-color that would highlight where they are :P

Reply
Silentash-默尘 » html5 doctype与图片多余空白 says:January 8, 2010 at 9:28 am
[…] 以下是html5doctor.com给出的HTML5 Reset Stylesheet […]

Reply
Youtube – Utilisation de la balise video | petites merveilles du web says:January 29, 2010 at 9:57 pm
[…] HTML5 reset StyleSheet […]

Reply
 Tyler Rasmussen says:February 15, 2010 at 8:59 pm
Any chance you could post a modification of the new YUI3 reset.css (http://real.us.yimg.com/lib/yui/3.0.0/build/cssreset/reset-min.css) with HTML5 support?

Reply
 Tyler Rasmussen says:February 15, 2010 at 9:01 pm
I did my best, but that just adding:

article,aside,audio,canvas,datagrid,datalist,details,dialog,figure,footer,header,hgroup,menu,nav,section,video{display: block;}abbr,eventsource,mark,meter,time,progress,output,bb{display:inline;}
Reply
 Paul Irish says:February 17, 2010 at 6:09 pm
In my experience adding a zoom:1 to the new elements style made IE6 especially play much much nicer.



article, aside, dialog, figure, footer, header, hgroup, nav, section {

    display:block; zoom:1;

}

Reply
3streamer blog - HTML初心者が知っておくべきリセットCSS と3つのポイント says:February 19, 2010 at 7:12 am
[…] HTMLの次期バージョンHTML5の策定作業が進行していますが、既にHTML5のタグやCSS3を先行実装するブラウザも現れてきました。これらが実際の制作現場で使われるようになると、また制作の手法も変わってくるでしょう。リセットCSSもHTML5用のものが提案されていたりします。今後どうなっていくのか注目です。 […]

Reply
 Richard Clark says:February 19, 2010 at 9:11 am
@Tyler, why would that need adding specifically? Elements are treated as inline by default anyway and some of those in your list should be treated as block so it would be bloating the code unnecessarily.

@Paul, cheers for that Paul. I don’t think I’ve come across many problems with IE6 except the usual bugs such as giving elements hasLayout as you’ve pointed out. I would probably add zoom:1 to my default IE6 stylesheet.

Reply
liu liming says:February 21, 2010 at 3:32 am
[…] *HTML 5 Reset Stylesheet […]

Reply
HTML5 articles, tutorials and websites - Max Kiesler – Designer says:March 21, 2010 at 4:51 am
[…] HTML5 Reset Stylesheet We’ve had a number of people ask about templates, boilerplates, and styling for HTML 5. Last week, Remy introduced some basic boilerplates for HTML 5, so to keep the momentum going, I’ve modified Eric Meyer’s CSS reset for you to use in your HTML 5 projects. […]

Reply
CSS Reset - DesiZen says:March 26, 2010 at 7:32 am
[…] 对于其的讨论实在激烈,英文好的可以看这里:html5doctor,我认为,其目前只适用于尝鲜使用,毕竟,我们还在IE6呢. […]

Reply
CSS Reset: Ways and Advantages | Inspiring Pixel says:March 31, 2010 at 12:15 pm
[…] modification of Meyer’s Reset for HTML […]

Reply
HTML5 Helpful Links at Advanced CSS Design Resources – last-child.com says:April 3, 2010 at 8:31 pm
[…] HTML5 Reset Stylesheet HTML5 Doctor […]

Reply
 sean jones says:April 6, 2010 at 8:07 pm
RE: Florent V.

I love the reset no reset debate.

Maybe you should realize that there is more than one way to build a website.

Respect everyone’s opinion because the writer of this post respected yours!

Reply
pligg.com says:April 11, 2010 at 4:30 am
HTML5 Reset Stylesheet | HTML5 Doctor…

We’ve had a number of people ask about templates, boilerplates, and styling for HTML 5. Last week, Remy introduced some basic boilerplates for HTML 5, so to keep the momentum going, I’ve modified Eric Meyer’s CSS reset for you to use in your HTML 5 pro…

Reply
说说HTML5 | CSSASS says:April 15, 2010 at 5:41 am
[…] 这篇针对HTML 5 Reset Stylesheet的文章也可以参考下：http://html5doctor.com/html-5-reset-stylesheet/。文章在Eric的CSS […]

Reply
 Ethan Sisson says:April 15, 2010 at 4:21 pm
“I started by removing elements that have been deprecated from the HTML 5 specification, like , and .”

I’m assuming the inclusion of <span> here is an error.

Reply
 Ethan Sisson says:April 15, 2010 at 4:22 pm
Sorry, forgot to markup the quote in my last comment.

Reply
[原]HTML5从入门到精通资源 | 左思 says:April 30, 2010 at 11:34 pm
[…] HTML 5 Reset Stylesheet […]

Reply
CSS Reset | Sarasota Web Design, 3d Animation, Video, Audio says:May 10, 2010 at 11:31 am
[…] modification of Meyer’s Reset for HTML […]

Reply
 Squidge Web Design Cardiff says:May 12, 2010 at 3:10 pm
A lot of bashing on the comments but, personally, I think it’s a great and much needed. Good work!

Sure, I’ve tweaked a few bits and yes it needs to be used only when appropriate but generally I think it’s brilliant and I’ve suggested it to my developers. Cheers Rich!

Reply
HTML5入门 之 样板和兼容IE浏览器篇 | CSSrainbow.cn says:May 13, 2010 at 3:15 am
[…] 重置样式源代码来源：HTML5 Reset Stylesheet文章。 […]

Reply
HTML5入门之样板和兼容IE浏览器篇 | My Sky says:May 13, 2010 at 11:53 pm
[…] 重置样式源代码来源： HTML5 Reset Stylesheet文章。MySky […]

Reply
HTML5 giving birth by committee | Winston Lawrence says:May 17, 2010 at 2:55 pm
[…] http://html5doctor.com/html-5-reset-stylesheet/ Related Websites […]

Reply
HTML5 Tutorial [Bulletproof] « Studio12Designs says:May 23, 2010 at 3:23 am
[…] Meyer's reset.css modified to set some basics for the new html5 elements see the original article [HTML5 Reset Stylesheet] this file is on s12.in http://s12.in/html5/reset.css use a simple link tag to include it but make […]

Reply
 Squidge Web Design Cardiff says:May 24, 2010 at 4:39 pm
Hi Richard, I’m getting a permanent 20px padding at the top of the body section which I can only get rid of if I apply a relative position to the body and a top position of -20px. Do you get this and do you know what it is so I can get rid of it?

Code is basically:


<body>

<header>

<nav>
ul etc
</nav>

</header>

<footer>
</footer>

</body>
Cheers
Andy

Reply
 Richard Clark says:May 24, 2010 at 5:30 pm
@squidge have you got a demo page I can look at somewhere? You shouldn’t be getting padding on the body with this stylesheet.

Reply
HTML 5一览 « Power by Result Search says:June 4, 2010 at 4:46 am
[…] HTML 5 Reset Stylesheet […]

Reply
HTML5一览 - 清净下午茶 says:June 23, 2010 at 6:59 am
[…] HTML 5 Reset Stylesheet […]

Reply
HTML5 Reset Stylesheet | Beat Fly Blog | tutorial photoshop jquery css says:June 28, 2010 at 9:03 am
[…] altri fogli di stile di reset meno famosi di quelli appena visti. Tra questi spicca sicuramente HTML5 Reset Stylesheet che, basato sul reset di Meyer, consente di azzerare lo stile anche ai nuovi elementi introdotti […]

Reply
 Sverri says:July 6, 2010 at 8:04 am
Some browsers render headlines in bold type by default. You may want to consider adding something along these lines to your reset:

h1, h2, h3, h4, h5, h6 {

  font-weight: normal;

  font-style: normal;

}

Keep it up guys :)

Reply
 Brandtley McMinn says:July 7, 2010 at 2:26 am
Hey Richard. Fantastic CSS Reset! I use it for every project.

One thing I keep fighting is the browser’s default font-size when one is not defined. So I think a cross-browser base font definition is in order.

I’ve found that using this snippet works for me.

body { font-size: 12px, line-height: 12px; }

I can then use font-size: 1em; on any other text based element and have it render the same across all modern browsers.

I’ve tested this in Windows Vista and Mac OSX against Firefox 3.6.7, Safari 4, Chrome 5, and IE 8 and it appears to be a very solid addition.

Kudos for a great resource.

Peace,
Brandtley

Reply
 Richard Clark says:July 7, 2010 at 9:34 am
@sverri & @brandyley – with regards to default font size & weight, this reset isn’t intended to completely level the playing surface. Rather, it should be used as a starting point to allow you to work with HTML5 elements. I’d encourage you to go ahead and edit it specifically for your own use, this is something I do but it tends to be a base stylesheet as opposed to a reset.

Reply
CSS reset for HTML5 | The Largest Forum Archive says:July 19, 2010 at 6:03 am
[…] There’s a lot of discussion going on over here: http://html5doctor.com/html-5-reset-stylesheet/ […]

Reply
 johny why says:July 19, 2010 at 6:23 am
hello, this page fails on IeTester
http://www.my-debugbar.com/wiki/IETester/HomePage

is that a problem with your code, or a problem with ietester?

thanks

Reply
 autodidakto says:July 25, 2010 at 11:19 am
Why only reset ul inside of nav?

Reply
 Rich Clark says:July 26, 2010 at 2:18 pm
@johny – Which version of IE? I’ve never opened in the site in IE6 so if it’s that, that’d be why.

@autodidakto – Because for other ul’s I prefer bullets to show. However, feel free to take the code and use it as a starting point for your own reset stylesheet.

Reply
HollyPlays.com: When she isn't working says:August 11, 2010 at 12:26 pm
[…] it to the HTML5 kit. Published on Aug 11, 2010 Filed under: HTML5 | No Comments HTML5 Demos Comments are […]

Reply
How To Make a Web Site the Modern Way. Part 14: Formatting, Shorthand, Resets and Organization » HTML + CSS + JavaScript » Blog Archive says:August 11, 2010 at 7:23 pm
[…] my latest project we're using this HTML5 Reset, which is based on Meyer's sheet and adds several HTML5 […]

Reply
The road to HTML5 – Tags says:August 12, 2010 at 4:59 pm
[…] HTML5 Reset Stylesheet(http://html5doctor.com/html-5-reset-stylesheet/) […]

Reply
 ntgd says:August 14, 2010 at 11:40 am
anchor style is doubled

Reply
 Richard Clark says:August 14, 2010 at 1:03 pm
@ntgd – thanks not sure where that crept in!

Reply
 Michael says:August 18, 2010 at 1:59 pm
I tried to validate the Reset Stylesheet, using the http://jigsaw.w3.org/css-validator/#validate_by_input
But ended up with 2 errors, is that a mistake, or can it right?

Reply
 Rich Clark says:August 19, 2010 at 9:28 am
@Michael, inherit on border-width is fine, so not to worry. http://www.w3.org/TR/CSS2/box.html#border-properties.

Reply
 Ryan says:September 4, 2010 at 12:42 am
I did a few quick tests regarding the abbr without a title and abbr with a title. I think you will want to remove the inherit value as you can’t mix that into shorthand. I don’t think it is really necessary anyway.

Reply
 Ryan says:September 4, 2010 at 12:47 am
And if anyone is wondering why it worked in my comment, it’s because it’s defined later on in his stylesheet as border-bottom: 1p solid #00000.

Reply
Översikt av projekt med css3 och html5 says:September 5, 2010 at 4:25 pm
[…] Bygget finns att beskåda på madr.se/overview. Det är en del css-gradients och en orgie i text-shadow, men koden blev ändå lagom lång och hanterbar. Ta en titt i cssfilen overview.css för att se vad som händer (filen core.css gör i det stora bara en html5 css reset). […]

Reply
 Richard Clark says:September 17, 2010 at 9:51 am
@Ryan, although inherit doesn’t validate, it does work ok cross browser so I don’t see it as an issue.

Reply
 Ryan says:September 17, 2010 at 10:22 am
This isn’t merely an issue of validation. It actually does not work in any browser because inherit becomes ambiguous when used in shorthand declarations… It does work for you on this site because you define a hex value later on in your stylesheet which overrides the inherit value. Open up firebug on this abbr and remove the border-bottom property on line 735 of your stylesheet and you will see what I mean.

“because there’s simply no way of identifying the subproperty to which the value inherit refers—after all, it’s not unique within the sequence.”

http://reference.sitepoint.com/css/inheritvalue

Reply
 Richard Clark says:September 17, 2010 at 10:53 am
@Ryan, you’re right, sorry for the confusion. I’ve updated the style sheet to reflect this and removed the inherit value.

Reply
HTML5 cheatsheet « Blog Archive « Umang 4 You says:September 27, 2010 at 9:25 pm
[…] in all browsers. IE < 9 requires a shim. Use HTML5 CSS reset to set default […]

Reply
HTML5 Doctor Reset Stylesheet - CSSReset.com says:October 4, 2010 at 5:02 pm
[…] on Eric Meyer’s Reset CSS, the HTML5 Reset Stylesheet by HTML5Doctor.com aims to provide a basis for any websites making use of the new HTML 5 attributes, while improving […]

Reply
Keefe Tang - html 5 reset stylesheet says:October 11, 2010 at 6:43 am
[…] Adapted from Eric Meyer’s css reset, this can be a good start for people looking to use css reset for html 5. Though there is one thing I like cast my opinion on regarding this paragraph by Richard Clark. […]

Reply
How Polyfills “fill in the gaps” to make HTML5 and CSS3 Usable Today - Rey Bango says:October 11, 2010 at 4:53 pm
[…] used a HTML5 reset style sheet because unfortunately, most browser don’t have an internal style sheet that sets the expected […]

Reply
Weevil Genius » HTML 5 Mobile – Week 2 Summary says:October 15, 2010 at 1:11 am
[…] We’ll also add a HTML 5 compatible reset stylesheet. This “resets” various styles to sane, known values for most of the tags supported by HTML 5. Jake has provided the one from HTML5 doctor. […]

Reply
Lynn's Blog - Web|XHTML+CSS|HTML5|CSS3|Jquery|JS|AJAX|WordPress|Flash|Asp.net|Video says:October 15, 2010 at 5:39 pm
[…] HTML 5 Reset Stylesheet […]

Reply
xHTML/CSS colspan doet niets? - 9lives - Games Forum says:October 18, 2010 at 12:28 pm
[…] html4 Eric's Archived Thoughts: Resetting Again html5: HTML5 Reset Stylesheet | HTML5 Doctor […]

Reply
 Nicholas Boll says:October 19, 2010 at 10:53 pm
There is one modification I’ve used from this reset and I’ve been using it for a while.

In the last selector:



input, select {

    vertical-align:middle;

    margin:0;

}

The reason is Webkit adds margin to inputs that isn’t on other browsers. This can cause infield labels to be slightly off in Webkit compared to other browsers. Zeroing the margin fixes this and allows infields to look consistent on all browsers.

Reply
 Richard Clark says:October 20, 2010 at 12:54 pm
@Nicholas, thanks for the feedback, we’ll look at incorporating this in future versions.

Reply
HTML5 Reset Stylesheetを適用 | SUSH-i LOG says:October 23, 2010 at 3:33 pm
[…] HTML5 Reset Stylesheet | HTML5 Doctor […]

Reply
 Chris Veness says:October 29, 2010 at 11:44 am
How about adding margin:0, padding:0 for button elements? Is there  a reason you left it out, or did you forget it?

Reply
 Craig says:November 1, 2010 at 5:19 pm
Rich Clark, there are no elements that have been “deprecated” in the HTML5 spec. The ones you cite have been outright removed. There’s no need for deprecation because they have separate specs for user agents and authors. User agents are required to support them for legacy purposes but it’s not valid HTML5.

Reply
Introduction à HTML5 Boilerplate « MKLog.fr says:November 6, 2010 at 5:31 pm
[…] Le reset CSS est une technique qui consiste à réinitialiser les valeurs de l’ensemble des élements HTML afin d’éviter une partie des différences d’affichage sur les différents navigateurs. Ici, le Reset CSS est une version modifiée du Reset CSS d’Eric Meyer. […]

Reply
An introduction to the Canvas 2D API | Html5 Tutorials says:November 8, 2010 at 3:19 pm
[…] HTML5 Reset Stylesheet […]

Reply
 Unknown says:November 12, 2010 at 12:59 am
Reset style sheet?
Extremely overkill!

http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/

Reply
 Jacob Thomason says:November 13, 2010 at 10:21 pm
You forgot the [s] element, which I would argue takes the place of the [del] element. I’d argue that the element is a way to leave the content in the file without displaying it, deserving display: none; and being strike through. But, honestly, people will probably not use these in this fashion, and therefore, both probably deserve a strike-through.

Reply
HTML 5 Reset - A quick start to HTML5 | Ranjith Siji | Programming the Web says:November 14, 2010 at 9:11 am
[…] HTML5 Doctor’s HTML5 Reset Stylesheet […]

Reply
 Hikari says:November 14, 2010 at 1:35 pm
strike element was removed from HTML5, and del element always meant a line cutting it.

del doesn’t mean a content being deleted and hidden, it means a content that was there before and now is updated and therefore deleted, but author wanna keep the old content there so it’s marked as outdated content that must be seen but not considered by the reader.

Reply
Two HTML5 Resources I Like | HTML5, CSS3, AJAX, JQuery and other technologies learned and discussed by kaidez says:November 17, 2010 at 12:03 pm
[…] includes a update of Eric Meyer’s famous CSS Reset that’s rewritten for HTML5 (get that here). Lots of useful stuff. […]

Reply
 Rich Clark says:November 19, 2010 at 1:21 pm
@Chris, you’ll notice that button, input, select etc aren’t touched (with the exception of vertical-align property for inputs). The main reason for this is I tend to leave the specifics of form elements to the browser. That way users get a common experience across sites.

@Jacob yes Hikari is correct strike is absent from HTML5.

@Craig you’re right the elements haven’t been deprecated, I didn’t explain that very clearly. They are simply absent elements. It’s better described in this post

Reply
SIMOTRONE WEB PAGE » Blog Archive » Re-setting dei CSS says:November 20, 2010 at 8:50 pm
[…] HTML5 Reset Stylesheet: il resetting di HTML5 secondo i Doctor […]

Reply
Diving into HTML5 - Jem on Web Development says:November 22, 2010 at 12:44 pm
[…] a Strict HTML4 doctype anyway) but with juicy extras and an HTML5 doctype. There’s already an HTML5 reset stylesheet to cobble together appropriate display behaviour for new elements if I decide to get adventurous […]

Reply
HTML5 – Sammlung von Ressourcen, Dokus und Browser-Fallbacks | nerdpress.org says:November 27, 2010 at 4:54 pm
[…] http://html5reset.org/ http://html5doctor.com/html-5-reset-stylesheet/ […]

Reply
CSS Reset | HowDoWeb says:December 9, 2010 at 4:36 am
[…] 对于其的讨论实在激烈,英文好的可以看这里:html5doctor,我认为,其目前只适用于尝鲜使用,毕竟,我们还在IE6呢. […]

Reply
Code a Vibrant Professional Web Design with HTML5/CSS3 says:December 10, 2010 at 10:01 am
[…] one proposed by Richard Clark of HTML5 Doctor, which I found sufficient for the job. Here is the HTML5 Reset Stylesheet for you to […]

Reply
 StevenG says:December 14, 2010 at 9:20 pm
I have a noob question for you Richard. I apologize if the answer is obvious :)

You have the font reset to 100% in the body yet further down the CSS you have set the font again in the body to 14px. Why are you setting the font twice for the body?

Reply
Skill Up: 開発に使うツール達 | CSS Radar says:December 18, 2010 at 12:55 pm
[…] CSS Reset by Eric Mayer(http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/)HTML5で作り上げていく今回のWordPressテーマにもやはり必要なのがEric MayerのCSS Reset。これにHTML5用のリセットCSSを追加したHTML5 Doctor謹製のreset.cssに少し手を加えたものを利用する。 […]

Reply
Should You Reset Your CSS? | Programming Blog says:December 23, 2010 at 9:06 pm
[…] HTML5 Reset Stylesheet […]

Reply
Should You Reset Your CSS? | DesignFools says:December 23, 2010 at 10:27 pm
[…] HTML5 Reset Stylesheet […]

Reply
Image Junky v1.0 Released | DAVID HIGGINS' BLOG says:December 28, 2010 at 10:23 pm
[…] following scripts, services, and people who have made the idea possible:HTML5 Shiv, by Remy SharpHTML5 CSS Reset, by Richard ClarkLightbox Evolution, by aeroalquimiamooLazyLoader, by Stephan EpericatjQuery […]

Reply
CSS制作のワークフローについて考える says:December 29, 2010 at 5:25 am
[…] Reset Stylesheetについて Eric MeyerのReset CSSをベースにしたHTML5向けのReset CSSが気になります。プレゼンターがHTML5docotorのHTML5 Reset Stylesheetをおすすめしています。ブラウザのデフォルトスタイルを「リセット」するReset Stylesheetの使用については、賛否両論あるようですが個人的には使用推進派です。ブラウザ間の表示差を最小限におさえ作業の効率化を図るためのメリットは大きいと思います。これに関しては、論文のような記事 (英語)もあったので一読して今後自分の意見をまとめてみたいと思っています。 […]

Reply
reset:按需定制 « 重构模式 says:December 29, 2010 at 9:38 am
[…] HTML5 Reset Stylesheet […]

Reply
 Stephen J. Fuhry says:January 2, 2011 at 11:48 pm
nav ul

should be

nav,ul

Reply
 Rich Clark says:January 4, 2011 at 11:29 am
@Stephen,

No, it’s correct. What I’m doing there is only removing the default styling for unordered lists within a nav element. It’s a personal preference of mine and that way if you have an unordered list in an article or section it will render with default bullet points.

Reply
HTML 5 boilerplates / templates | Anywhichway Development Labs says:January 4, 2011 at 4:37 pm
[…] http://html5doctor.com/html-5-reset-stylesheet/ This entry was posted in HTML, HTML5. Bookmark the permalink. ← Copywriting for Ecommerce […]

Reply
Eric Meyer actualiza su CSS Reset para adaptarlo a HTML5 says:January 4, 2011 at 5:44 pm
[…] ha mencionado que se apoyó en el HTML5 Doctor Reset para su adaptación, aunque si revisamos bien ambas versiones, hay diferencias […]

Reply
Reset Revisited | Programming Blog says:January 5, 2011 at 2:52 pm
[…] of you may be thinking: “Hey, it’s the HTML5 Doctor reset!” Actually, no, though I did use their work as a check on my own. I felt like that one went a […]

Reply
strangerpixel > Streamlining CSS on www.fashion.arts.ac.uk says:January 5, 2011 at 6:20 pm
[…] of work has been done in this area but Rich Clark‘s HTML5 Doctor reset stylesheet appeared to be the industry […]

Reply
 Marijke Luttekes says:January 5, 2011 at 8:47 pm
Personally I like to add the following:


a img{border:none;}

This line is helpful because when you use an image link, like a company’s logo that links back to the home page of a website, borders are generated and I think they’re rather hideous.

I also removed some points like body line-height, mark and the dfn/abbr statements since I think these should be part of a website-specific stylesheet.

Reply
Looking For Focus | Programming Blog says:January 6, 2011 at 12:27 pm
[…] explicit a:focus styles, as the HTML5 Doctor reset does. This overcomes the problem of focus-stripping, but imposes a specific focus appearance. That […]

Reply
Looking For Focus « blog.officinazerouno.it says:January 7, 2011 at 12:26 pm
[…] explicit a:focus styles, as the HTML5 Doctor reset does. This overcomes the problem of focus-stripping, but imposes a specific focus appearance. That […]

Reply
Popular ‘CSS Reset’ Stylesheet Gets an HTML5 Makeover « blog.officinazerouno.it says:January 7, 2011 at 12:27 pm
[…] you’ve been using the also very popular HTML5 Doctor reset stylesheet, you’ll probably notice some similarities in Meyer’s new effort. Both make excellent […]

Reply
fiink blog » Trying to satisfy Mr. Cross-Browser says:January 8, 2011 at 10:23 am
[…] Nice HTML5 Reset CSS stylesheet http://html5doctor.com/html-5-reset-stylesheet/ […]

Reply
Crossbrowser Reset CSS Framework « Navayan – Thoughts and Ideas says:January 9, 2011 at 2:28 am
[…] Reset CSS is the base of today’s CSS Reset rules. Meyer and HTML5Doctor made it simple. But there are chances to make it more optimize and […]

Reply
Popular ‘CSS Reset’ Stylesheet Gets an HTML5 Makeover | Al Terry Gough says:January 9, 2011 at 4:02 am
[…] you’ve been using the also very popular HTML5 Doctor reset stylesheet, you’ll probably notice some similarities in Meyer’s new effort. Both make excellent […]

Reply
Guida all’uso di HTML5 - TomStardust.com says:January 10, 2011 at 7:51 am
[…] risolvere il problema io ho utilizzato il CSS Reset di HTML5 Doctor, derivato dal CSS Reset di Eric Meyer. Includetelo nel vostro foglio di stile e non avrete […]

Reply
HTML5 နဲ့ CSS3 သုံးပြီး Site တစ်ခုဆောက်မယ် (၂) | Myanmar Tutorials says:January 10, 2011 at 4:02 pm
[…] reset.css ကို လိုချင်တယ်ဆိုရင် HTML5 Reset […]

Reply
 Hikari says:January 13, 2011 at 4:19 am
How would you markup threaded comments?

Would you use the classic nested lists, and inside each list element put article element, or would you nest multiple article elements?

Reply
CSS Reset para HTML5 | EtnasSoft says:January 13, 2011 at 3:21 pm
[…] el momento, la mejor alternativa era la CSS Reset de HTML5Doctor, una hoja creada precisamente a partir de la de Eric Meyer donde se habían incluido las reglas […]

Reply
Zet je CSS nog meer op nul: HTML5 Resets - Heeftstijl.nl says:January 18, 2011 at 11:10 am
[…] er?Eigenlijk maar eentje en dat is de meest populaire, en naar mijn mening ook meest complete: de HTML5 Reset Stylesheet van HTML5 Doctor, geschreven door Richard Clark. Sinds 2009 is deze uitbreiding op de Eric Meyer […]

Reply
A really simple HTML5 template | Phrappe says:January 19, 2011 at 8:16 am
[…] For CSS, I’m just using the very basic HTML5 CSS reset from HTML5 Doctor. […]

Reply
Tekno Blog O ! says:January 20, 2011 at 6:43 pm
HTML5 Reset CSS Dosyası…

HTMLDOCTOR , yeni gelen HTML5 dosyaları için uyumlu bir reset.css dosyası hazırlamış. Bu dosya hazırlanırken Eric Meyer’in reset.css dosyası baz alınmış…….

Reply
Zet je CSS nog meer op nul: HTML5 Resets | blog.designs4u.nl says:January 20, 2011 at 9:38 pm
[…] maar eentje en dat is de meest populaire, en naar mijn mening ook meest complete: de HTML5 Reset Stylesheet van HTML5 Doctor, geschreven door Richard Clark. Sinds 2009 is deze uitbreiding op de Eric Meyer […]

Reply
 H says:January 22, 2011 at 7:36 pm
This doesn’t seem to work for IE8.

I still have to declare my section, nav and other block elements that aren’t recognized in my own stylesheet, otherwise they aren’t styled.

I am using both this and the html5shiv.

Reply
Reset Revisited « Web Development says:January 28, 2011 at 10:28 am
[…] of you may be thinking: “Hey, it’s the HTML5 Doctor reset!” Actually, no, though I did use their work as a check on my own. I felt like that one went a […]

Reply
Looking For Focus « Web Development says:January 28, 2011 at 10:29 am
[…] explicit a:focus styles, as the HTML5 Doctor reset does. This overcomes the problem of focus-stripping, but imposes a specific focus appearance. That […]

Reply
HTML5 | Francesca Capochiani says:January 29, 2011 at 4:31 pm
[…] risolvere il problema io ho utilizzato il CSS Reset di HTML5 Doctor, derivato dal CSS Reset di Eric Meyer. Includetelo nel vostro foglio di stile e non avrete […]

Reply
HTML5 articles, tutorials and websites - Learn PHP Online says:February 7, 2011 at 2:01 pm
[…] HTML5 Reset Stylesheet We’ve had a number of people ask about templates, boilerplates, and styling for HTML 5. Last week, Remy introduced some basic boilerplates for HTML 5, so to keep the momentum going, I’ve modified Eric Meyer’s CSS reset for you to use in your HTML 5 projects. […]

Reply
 Kyle Adams says:February 11, 2011 at 7:01 pm
One change I noticed from Eric Meyer’s reset CSS was the addition of background: transparent to the very first rule, which got me wondering: what’s the rationale behind that addition?

Reply
Tipps und Tricks zum CSS-Reset | Elmastudio says:February 23, 2011 at 4:38 pm
[…] Erweiterung von Eric Meyer’s Reset ist das HTML5 Doctor Reset. In der Beschreibung zur über­ar­bei­teten HTML5 Reset-Variante erklärt Richard Clark genau, […]

Reply
Create a WordPress Theme — starvedbacon.com says:February 28, 2011 at 3:46 am
[…] for the styling – I used the reset.css from html5doctor instead of Ian’s suggestion since it is more modern. I dropped the suggested […]

Reply
Tutoriales, recursos y técnicas HTML5 | davidcostales blog says:March 2, 2011 at 9:08 am
[…] problemas cuando le apliquemos los estilos oportunos. A continuación os dejo dos buenas opciones:html5doctorhtml5resetNuevo doctypeEl doctype encabeza todas nuestras páginas. Se encarga de indicarle al […]

Reply
To Reset or Not Reset — That’s the CSS Question » JavaScript & CSS » SitePoint Blogs says:March 2, 2011 at 5:57 pm
[…] unstyled.Eric Meyer’s CSS Reset was one of the first and is the most well known and used. The HTML5 Reset Stylesheet from HTML5 doctor can also help style newer elements. There are several others — CSSReset.com […]

Reply
Rooc | Blog | CSS Reset says:March 4, 2011 at 11:44 am
[…] Meyer Reset CSS Eric Meyer: Reset 2.0b2: Paring Down Reset Revisited HTML5 Reset Stylesheet HTML5 Reset Stylesheet Google Project .toucan-css-reset A Killer Collection of Global CSS Reset […]

Reply
Using an HTML5 Boilerplate-Ready WordPress Theme - HTML5, CSS3, jQuery, AJAX and more discussed by kaidez says:March 7, 2011 at 11:02 am
[…] HTML5 Reset Stylesheet for CSS cross-browser […]

Reply
HTML5从入门到精通资源整理 « 胡冰 says:March 10, 2011 at 4:58 pm
[…] HTML 5 Reset Stylesheet […]

Reply
HTML5 Elements CSS Reset | CreatingDrew – Web Dev & Software Bits says:March 14, 2011 at 8:55 am
[…] http://html5doctor.com/html-5-reset-stylesheet/ This entry was posted in Bookmarks and tagged css, html5. Bookmark the permalink. ← HTML5 Video Player – VideoJS […]

Reply
Website e Blog da Cocento no ar! | Cocento Tecnologia Blog says:March 15, 2011 at 3:35 pm
[…] utilizando: HTML5 para a semântica correta com microdata para os dados de endereço no rodapé; Reset CSS para facilitar o cross-browser; 960 Grid System para o CSS organizando o layout em colunas; Head […]

Reply
 Hilary says:March 21, 2011 at 9:31 pm
Made all the difference for my client’s site!
Webkit moved divs down about 4 points.
Fixed now!
Thanks

Reply
Best CSS Web Apps To Save Time | Altered Advice says:March 22, 2011 at 4:51 pm
[…] CSS Rounded Corners Generator CSS Code Compressor Ultimate CSS Gradient Generator CSS Gradient Generator CSS Layout Generator 960 Grid HTML 5 Reset Stylesheet […]

Reply
Best CSS Web Apps To Save Time | Programming Blog says:March 30, 2011 at 7:15 am
[…] CSS3 Generator All In One CSS Rounded Corners Generator CSS Code Compressor Ultimate CSS Gradient Generator CSS Gradient Generator CSS Layout Generator 960 Grid HTML 5 Reset Stylesheet […]

Reply
HTML5-mall för Wordpress på svenska says:April 4, 2011 at 3:27 pm
[…] Temat använder sig av en CSS reset från html5doctor.com […]

Reply
 Peter says:April 18, 2011 at 9:57 pm
Has anybody noticed that this html5 reset removes the styling of the html5 form validation in google chrome?

I solved it by removing the div-tag from the first declaration and then adding a seperate line for the div:
div { outline:0; font-size:100%; vertical-align:baseline; }
So, I removed the reset of margin, padding, border and background on the div tag.

Reply
 Stephen J. Fuhry says:April 18, 2011 at 10:01 pm
Has anybody noticed that this html5 reset removes the styling of the html5 form validation in google chrome?

I haven’t actually tested it, but I think that would be the point of a css reset: to normalize all CSS rules so that everything looks the same across browsers.

Doesn’t seem like something you’d necessarily want to have all the time (such as in the case you mentioned)… hmm

Reply
 Slate Blank says:April 26, 2011 at 9:02 am
Thanks, very nice to have!

Reply
Dive Into HTML5：所有这一切意味着什么？（续三） | DevBean's World says:May 13, 2011 at 1:17 pm
[…] （这个规则来自 Rich Clark 的 HTML5 Reset Stylesheet，你可以在这篇文章中找到很多有趣的东西。） […]

Reply
BlaueLimo HTML5 Grundgerüst – Codename „Blue Hero“ - BlaueLimo v2 says:May 22, 2011 at 7:16 pm
[…] Fertig eingebundene CSS Datei mit einem HTML5 CSS Reset von HTML5Doctor […]

Reply
 Jason says:June 2, 2011 at 3:55 am
Just thought I’d point out, there are whitespace errors in the CSS download. Make it all tabs or all spaces, not mixed. As it is now, I have to reformat it, removing trailing whitespace to satisfy Git and Gerrit (and myself).

Thanks for the modern reset CSS :)

Reply
Reset de propiedades CSS en HTML5 – Kaduya says:June 20, 2011 at 10:37 pm
[…] a html5doctor Descarga de las CSS en Google […]

Reply
 Michael says:June 24, 2011 at 1:52 pm
Hi,

I wanted to ask what do you think about adding the following reset row:

a img {border: 0;}

It is something that I always find useful.

Thanks,
Michael

Reply
 Jan Kłosowski says:July 15, 2011 at 11:16 am
If there is small having more than 1 line of text for some purpose it starts to break base-line alignment in Firefox 5 adding +/-1px per line.

I fix it by adding simple: small { line-height:1 }

Another simple thing I include to my reset is styling nested list number (1.1.1):

ol {

  counter-reset: item;

  }

ol li {

  display: block;

  }

ol li:before {

  counter-increment: item;

  content: counters(item, ".") ". ";

  }

Anyway – I enjoy your reset, a lot and use it in my projects.

Reply
Useful CSS3 Snippets for IE | DesignNonsense.Com says:July 29, 2011 at 12:58 pm
[…] the advent of HTML5, including the new HTML elements in your CSS reset is also a good idea. html5doctor provides a good update to Eric Meyer’s reset that you can use for free in your projects. You can […]

Reply
 Chuck Windom says:August 12, 2011 at 5:37 pm
this is great info I appreciate you explaining the reset. I definately will use it in my next project

Reply
 Johan says:September 12, 2011 at 1:34 am
mmm… think i found a browser bug!

when you have a div id=”container” centre aligned (margin:auto; in the css) and you want to push the container div down – by say 20px – to create a bit of space at the top of the page (an actual client request… ) th CSS: margin:auto; then change to margin:20px auto 0 auto;) the body background repeat-x will also jump down with the #container.

fix it by adding a 1px border to the top of the page. stupid i know but that’s browser for you… border-top:#fff 1px solid;margin-top:-1px;

another way to fix this is to remove the background-color:#FFFFFF; from the html rule in the reset(if you have it in there).

ps: this only happens if you have a background color on your html tag in the css which is part of some css reset file available out there.
personally i just removed it but you may need to give your html tag a bg colour.

cheers!

Reply
 Gustavo Krause says:October 21, 2011 at 7:31 pm
We did tests about each html5 element behavior, also got some information based on others internet public resets, and finally we created a CSS base document with one ideal reset to reach our needs.

If you are interested in knowing our work will be a pleasure to share our document!

CSS base document: http://www.webstandards.blog.br/css/documento-base-para-css/

/* reset */

/*body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, menu, form, fieldset, legend, figure, section, summary { margin: 0; padding: 0; }

article, aside, details, summary, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

button, fieldset, iframe, img { border: 0; }

Reply
 Network39 says:January 28, 2012 at 3:16 pm
First let me say what a great site.
Second, I am just starting out with web design and would like to ask is it better to concentrate on html5 from the outset?
Thanks,
Penny

Reply
 Lighting Matt says:February 9, 2012 at 3:22 pm
Wow, some useful style sheet info.

Cheers.

Reply
 Battra says:March 17, 2012 at 8:22 am
Hi Richard,

Are all elements of the reset necessary? I mean, there are many tags that I almost never use so including all of them adds to the size of the page. What do you think of using just what I need?

Reply
 Chris Veness says:March 17, 2012 at 9:13 am
@Battra – I agree, and (sorry, Richard!), have now switched to using the more minimal normalize.css (http://necolas.github.com/normalize.css/), which essentially harmonises browser differences rather than redefining everything. Anyone else have views on this?

Reply
使用HTML5重构Web并兼容IE | 桥意互动设计博客 says:April 9, 2012 at 12:54 am
[…] 重置样式源代码来源： HTML5 Reset Stylesheet文章。 […]

Reply
 Eder Lima says:May 9, 2012 at 2:22 pm
Thanks, just what i need! An Erick Meyer’s Html5 approach! ;)

Reply
 Cardiff Web Designer says:June 15, 2012 at 8:23 am
Great post and some fantastic follow up comments. The site has been bookmarked

When I implement a reset stylesheet I always add an a img border reset to ensure the unsightly blue box does not appear.

Reply
僕がWeb制作するときに使っているスターターテンプレート :: Creatorish says:June 15, 2012 at 4:41 pm
[…] reset.cssだけでなくnormal/*