/*-----mobile device-----*/
@media(max-width:576px){
	.header-section{
		background-color: rgb(0 0 0 / 75%);
	}
	.banner-content p{
		font-size:15px;
	}
	.nav-button{
		margin-right:50px;
	}
	.banner-box{
		height:auto;
	}
}
/*-----mobile device landscape and smaller device-----*/
@media(min-width:576px){
.col-sm-1{ 
      width:8.33%;
	  padding:0 15px;
}
.col-sm-2{ 
      width:16.66%;
	  padding:0 15px;
}
.col-sm-3{ 
      width:25%;
	  padding:0 15px;
}
.col-sm-4{ 
      width:33.33%;
	  padding:0 15px;
}
.col-sm-5{ 
      width:41.66%;
	  padding:0 15px;
}
.col-sm-6{ 
      width:50%;
	  padding:0 15px;
}
.col-sm-7{ 
      width:58.33%;
	  padding:0 15px;
}
.col-sm-8{ 
      width:66.66%;
	  padding:0 15px;
}
.col-sm-9{ 
      width:75%;
	  padding:0 15px;
}
.col-sm-10{ 
      width:83.33%;
	  padding:0 15px;
}
.col-sm-11{ 
      width:91.66%;
	  padding:0 15px;
}
.col-sm-12{ 
      width:100%;
	  padding:0 15px;
}
	  
}
/*-----median device-----*/
@media(min-width:768px){
	.col-md-1{ 
      width:8.33%;
	  padding:0 15px;
}
.col-md-2{ 
      width:16.66%;
	  padding:0 15px;
}
.col-md-3{ 
      width:25%;
	  padding:0 15px;
}
.col-md-4{ 
      width:33.33%;
	  padding:0 15px;
}
.col-md-5{ 
      width:41.66%;
	  padding:0 15px;
}
.col-md-6{ 
      width:50%;
	  padding:0 15px;
}
.col-md-7{ 
      width:58.33%;
	  padding:0 15px;
}
.col-md-8{ 
      width:66.66%;
	  padding:0 15px;
}
.col-md-9{ 
      width:75%;
	  padding:0 15px;
}
.col-md-10{ 
      width:83.33%;
	  padding:0 15px;
}
.col-md-11{ 
      width:91.66%;
	  padding:0 15px;
	  }
.col-md-12{ 
      width:100%;
	  padding:0 15px;
}
}
/*-----large device-----*/
@media(min-width:992px){
	.container{
		width:920px;
	}
.col-lg-1{ 
      width:8.33%;
	  padding:0 15px;
}
.col-lg-2{ 
      width:16.66%;
	  padding:0 15px;
}
.col-lg-3{ 
      width:25%;
	  padding:0 15px;
}
.col-lg-4{ 
      width:33.33%;
	  padding:0 15px;
}
.col-lg-5{ 
      width:41.66%;
	  padding:0 15px;
}
.col-lg-6{ 
      width:50%;
	  padding:0 15px;
}
.col-lg-7{ 
      width:58.33%;
	  padding:0 15px;
}
.col-lg-8{ 
      width:66.66%;
	  padding:0 15px;
}
.col-lg-9{ 
      width:75%;
	  padding:0 15px;
}
.col-lg-10{ 
      width:83.33%;
	  padding:0 15px;
}
.col-lg-11{ 
      width:91.66%;
	  padding:0 15px;
}
.col-lg-12{ 
      width:100%;
	  padding:0 15px;
}
.d-lg-block{
	display:block !important;
}
.d-lg-none{
	display:none !important;
}
}
/*-----extra large and desktop device-----*/
@media(min-width:1200px){
	.container {
	        width:1170px;
	}
	
}