.container{
	width:1170px;
	padding:0 15px;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:15px;
	margin-right:-15px;
}
.row>*{
	width:100%;
	padding:0.15px;
}
.col-lg-1{ 
      width:8.33%;
	  padding:0.15px;
}
.col-lg-2{ 
      width:16.66%;
	  padding:0.15px;
}
.col-lg-3{ 
      width:25%;
	  padding:0.15px;
}
.col-lg-4{ 
      width:33.33%;
	  padding:0.15px;
}
.col-lg-5{ 
      width:41.66%;
	  padding:0.15px;
}
.col-lg-6{ 
      width:50%;
	  padding:0.15px;
}
.col-lg-7{ 
      width:58.33%;
	  padding:0.15px;
}
.col-lg-8{ 
      width:66.66%;
	  padding:0.15px;
}
.col-lg-9{ 
      width:75%;
	  padding:0.15px;
}
.col-lg-10{ 
      width:83.33%;
	  padding:0.15px;
}
.col-lg-11{ 
      width:91.66%;
	  padding:0.15px;
}
.col-lg-12{ 
      width:100%;
	  padding:0.15px;
}
   /*header section style*/
.header-section{
	background-color:black;
	padding:10px ;
}
.logo{
	background-color:pink;
	height:50px;
	margin-right:20px;
}
.navbar{
	background-color:pink;
	height:50px;
	margin-right:20px;
}
.nav-button{
	background-color:pink;
	height:50px;
}
	 /*bannner section start*/
.banner-section{
       background-color:pink;
	   padding:80px 0;
} 
.banner-items{
       justify-content:center;
}
.banner-content{
       background-color:black;
         height:300px;
        margin-bottom:40px;
}
.banner-box{
         background-color:black;
           height:150px;
		   margin-right:20px;
}
    /*about section style*/
.about-section{
         background-color:black;
         padding:80px 0;
}
.about-content{
        background-color:pink;
        height:450px;
		margin-right:30px;
}
.about-image{
        background-color:pink;
        height:450px;
}	 
      /*  client logo section style*/
.client-logo-section{
         background-color:pink;
         padding:80px 0;
}
.client-logo{
          background-color:black;
          height:80px;
		  margin-left:20px;
}
		/*about2 section style*/
.about2-section{
         background-color:black;
         padding:80px 0;
}
.about2-image{
        background-color:pink;
        height:450px;
		margin-right:30px;
}
.about2-content{
        background-color:pink;
        height:450px;
}	   
.services-title{
	   background-color:pink;
	   padding:10px;
}
.title{
	background-color:black;
	height:50px;
}
     		   
	

	  
