.container{
	width:1170px;
	padding:0 15px;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
.row >*{
	width:100%;
	padding:0 15px;
}
.col-lg-1{ 
      width:8.33%;
	  padding:0 15px;
}
.col-lg-2{ 
      width:16.66%;
	  padding:0 15px;
}
.col-lg-3{ 
      width:25%;
	  padding:0 15px;
}
.col-lg-4{ 
      width:33.33%;
	  padding:0 15px;
}
.col-lg-5{ 
      width:41.66%;
	  padding:0 15px;
}
.col-lg-6{ 
      width:50%;
	  padding:0 15px;
}-
.col-lg-7{ 
      width:58.33%;
	  padding:0 15px;
}
.col-lg-8{ 
      width:66.66%;
	  padding:0 15px;
}
.col-lg-9{ 
      width:75%;
	  padding:0 15px;
}
.col-lg-10{ 
      width:83.33%;
	  padding:0 15px;
}
.col-lg-11{ 
      width:91.66%;
	  padding:0 15px;
}
.col-lg-12{ 
      width:100%;
	  padding:0 15px;
}
      /*Common style -------*/
.buttons{
	display:inline-block;
	text-decoration:none;
	color:white;
	font-size:16px;
	padding:10px 28px;
	border:2px solid #ffc451;
    border-radius:5px;
	letter-spacing:1px;
    font-weight:500;
	transition:all 0.3s ease;
}
.buttons:hover{
	  background-color:#ffc451;
	  color:black;
}
/*-----flex style------*/
.align-items-start{
        align-items:flex-start !important;
} 
.align-items-center{
        align-items:center !important;
} 
.align-items-end{
        align-items:flex-end !important;
} 
.align-items-baseline{
        align-items:baseline !important;
} 
.align-items-stretch{
        align-items:stretch !important;
} 
 /*----------text align style---->*/
 .text-left{
	  text-align:left !important;
 }
.text-center{
	  text-align:center !important;
}
.text-right{
	  text-align:right !important
}
  /*header section style*/
.header-section{
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color:rgba(0,0,0,0);
	padding:15px ;
}
h1.logo>a{
    color:white;
	text-decoration:none;
	display:inline-block;
	font-size:32px;
	letter-spacing:2px;
	font-weight:700;
	text-transform:uppercase;
}
h1.logo>a>span{
	color:#ffc451;
}
.navbar >.nav-list{
	text-align:center;
}
.navbar .nav-list .nav-items{
	   display:inline-block;
}
.nav-items>a{
	display:block;
	text-decoration:none;
	color:white;
	font-size:15px;
	padding:15px 12px;
	transition:all 0.3s ease;
}
.nav-items > a:hover{
	color:#ffc451;
}
.nav-button{
	border-color:#ffc451;
}
.dropdown, .dropdown-sub{
	position:relative;
}
.dropdown-nav, .dropdown-sub-nav{
	position:absolute;
	top:100%;
	left:0;
	background-color:white;
	min-width:180px;
	padding:10px 0;
	/*box-shadow:0 1px 8px #777;*/
	opacity:0;
	visibility:hidden;
	transform:translateY(30px);
	transition:all 0.3s ease;
}
.dropdown-sub-nav{
	left:91%;
	top:0;
	transform:translateX(-20px,0px);
}
.dropdown-nav > a > i,.dropdown-sub-nav{
	margin-left:8px;
}
.dropdown:hover .dropdown-nav, .dropdown-sub:hover .dropdown-sub-nav{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
}
.dropdown-nav > li > a,.dropdown-sub-nav > li > a{
	  display:block;
	  text-decoration:none;
	  color:black;
	  font-size:15px;
	  text-align:left;
	  line-height:2;
	  padding:0 12px;
	  transition:all 0.3s ease;
}
.dropdown-sub > a >i{
	margin-left:10px;
}
.dropdown-nav > li > a> i,.dropdown-sub-nav > li > a> i{
	position:absolute;
	top:25%;
	right:35px;
	transform:translateY(-50);
}
.dropdown-nav > li > a:hover,.dropdown-sub-nav > li > a:hover{
	background-color:#ffc451;
	color:black;
}
.dropdown-sub .dropdown-nav .dropdown:hover{
	opacity:1;
	visibility:visible;
}

     /*bannner section start*/
.banner-section{
       background-color:pink;
	   background-image:linear-gradient(rgb(0 0 0/60%),rgb(0 0 0/60%)),url(../image/hero.jpg);
	   background-repeat:no-repeat;
	   background-size:cover;
	   background-position:center top;
	   background-attachment:fixed;
	   padding:150px 0 150px;
	  /* height:100vh;*/
} 
.banner-items{
       justify-content:center;
}
.banner-content{
	   text-align:center;
	   margin-bottom:80px;
}
.banner-content h1{
	   color:white;
	   font-size:55px;
	   font-weight:800;
	   line-height:60px;
	   padding-bottom:18px;
}
.banner-content h1 span{
	color:#ffc451;
}
.banner-content p{
	color:#eee;
	font-size:23px;
}
.banner-box{
	border:1px solid #777;
	text-align:center;
	padding:30px 15px;
	color:white;
	height:100%;
	transition:all 0.3s ease;
}
.banner-box h4{
	font-size:20px;
}
	
.banner-box i{
	color:#ffc451;
	font-size:25px;
	display:inline-block;
	margin-bottom:20px;
}
.banner-box:hover{
	 border-color:#ffc451;
}
    /*about section style*/
.about-section{
    padding:80px 0;
}
.about-content h3{
	font-size:30px;
	margin-bottom:15px;
}
.about-content p{
	margin-bottom:20px;
}
.about-content ul{
	margin-bottom:20px;
}
.about-content ul li{
	padding-bottom:15px;
	position:relative;
	padding-left:20px;
}
.about-content ul li i{
	color:#ffc451;
	position:absolute;
	top:0;
	left:0;
	font-size:15px;
}
.about-image img{
       width:100%;
	   height:auto;
}	 
      /*  client logo section style*/
.client-logo-section{
         padding:60px 0 0;
}
.client-logo{
         height:100%;
		 padding:20px 40px;
		 display:block;
		 text-decoration:none;
}
.client-logo img{
	width:100%;
	height:auto;
	filter:grayscale(100%);
	opacity:0.6;
	transition:all 0.3s ease;
}
.client-logo img:hover{
	filter:grayscale(0);
	opacity:1;
}
.dots{
	text-align:center;
	padding:20px 10px;
}
.dots .dots-box{
	  display:inline-block;
	  width:12px;
	  height:12px;
	  background-color:#ccc;
	  border-radius:50%;
	  margin:0 2px;
	  cursor:pointer;
}
.dots-box.active{
	background-color:#ffc451;
}
	  
		/*about2 section style*/
.about2-section{
         padding:80px 0;
}
.about2-image img{
        width:100%;
        height:auto;
}
.about2-content{
	position:relative;
	padding-bottom:45px;
        
}
.about2-content:first-child{
        margin-top:20px;
}
.about2-content{
   position:relative;
       padding-left:60px;
       padding-bottom:45px;
}	   
.about2-content i{
       position:absolute;
       left:0;
       top:5px;
       color:#ffc451;
	   font-size:37px;
}
.about2-content h4{
        font-size:20px;
        padding-bottom:10px;
}		
    /*services section style*/
 
.section-title{
	    padding:0 15px 40px 0;		
}
.section-title h4{
	position:relative;
	text-transform:uppercase;
	color:#aaaaaa;
	font-size:16px;
	margin-bottom:10px;
}
.section-title h4:after{
   content:"";
   position:absolute;
   top:8px;
   width:100px;
   height:1px;
   margin-left:8px;
   background-color:#ffc451;
}
.section-title h2{
   text-transform:uppercase;
   font-size:38px;
   font-weight:700;
}
.services-content{
	   background-color:#ffff;
	   text-align:center;
	   padding:60px 22px;
	   border:solid 1px #eee;
	   margin-bottom:30px;
	   transition:all 0.5s ease;
}
.services-content:hover{
	transform:translateY(-15px)scale(1.05);
	box-shadow:0 0 10px #ccc;
}
.services-content i{
	display:inline-block;
	width:62px;
	height:65px;
	line-height:65px;
	background-color:#ffc451;
	color:#444;
	font-size:25px;
	border-radius:5px;
}
.services-content h3{
	padding:20px;
	font-size:22px;
}
.services-content a{
   text-decoration:none;
	color:black;
}
.services-content a:hover{
	color:#ffc451;
}
	       /* call action style*/
.call-action-section{
       background-image:linear-gradient(rgba(2, 2, 2, 0.4), rgba(0, 0, 0, 0.4)),url(../image/cta-bg.jpg);
	   background-repeat:no-repeat;
	   background-size:cover;
	  background-position:center center;
	   background-attachment:fixed;
	   padding:60px 0;
} 
.call-action-content{
       justify-content:center;
}
.call-action-content{
	   text-align:center;
	   margin-bottom:18px;
}
.call-action-content h2{
	   color:white;
	   font-size:28px;
	   font-weight:700;
	   line-height:20px;
	   padding-bottom:18px;
}
.call-action-content p{
	   color:white;
}
.call-action-content a{
	    font-weight: 600;
        font-size:18px;
        letter-spacing:1px;
        padding: 10px 28px;
        border-radius:2px;
        transition: 0.5s;
        margin-top:25px;
	    border:2px solid white;
}
          /* portfolio section style*/
.portfolio-section{
	      padding:80px 0;
}
.section-title{
	    padding:0 15px 40px 0;		
}
.section-title h4{
	position:relative;
	text-transform:uppercase;
	color:#aaaaaa;
	font-size:16px;
	margin-bottom:10px;
}
.section-title h4:after{
   content:"";
   position:absolute;
   top:8px;
   width:100px;
   height:1px;
   margin-left:8px;
   background-color:#ffc451;
}
.section-title h2{
   text-transform:uppercase;
   font-size:38px;
   font-weight:700;
}   
.portfolio-menu{
	display:flex;
	justify-content:center;
	 
}
.portfolio-menu a{
	text-decoration:none;
}
.portfolio-menu li:hover{
	background-color:#ffc451;
}

.portfolio-menu li{
	display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
	border-radius: 3px;
}
li.active{
	background-color:#ffc451;
}
	
.portfolio-box img{
	display:block;
	width:100%;
	height:auto;
	transition:all 0.5s ease;
}
.portfolio-box {
	position:relative;
	overflow:hidden;
	margin-top:30px;
}
.portfolio-box .port-overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#0000009e;
	display:flex;
	align-items:flex-end;
	padding:20px 20px 30px;
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
	
}
.portfolio-box:hover .port-overlay{
	opacity:1;
	visibility:visible;
}
.portfolio-box:hover img{
	transform:scale(1.2);
}
.port-ovl-txt h4{
	 color:#fff;
	 font-size:20px;
	 font-weight:500;
	 padding-bottom:15px;
}
.port-ovl-txt h5{
	color:#ccc;
	font-size:15px;
	font-weight:400;
	font-style:italic;
	padding-bottom:20px;
	
}
.port-ovl-txt .port-icons a{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	padding:5px;
	font-size:20px;
}
.port-ovl-txt .port-icons i:hover{
	color:#ffc451;
}
      /*about3 section style*/
.about3-section{
         padding:80px 0;
}
.about3-image img{
	width:100%;
	height:auto:
       
}
.about3-main-content h3{
	font-weight: 700;
    font-size: 30px;
    color: #151515;
}
.about3-sub-content{
       position:relative;
       padding-left:50px;
	   padding-top:30px;
       font-size:40px;
}
.about3-sub-content	h1{
  font-family:"Arial",sans-serif;
}  
.about3-sub-content i{
       position:absolute;
       left:0px;
       top:20px;
       color:#ffc451;
	   font-size:37px;
}
.about3-sub-content i{
	display:inline-block;
	width:62px;
	height:65px;
	line-height:65px;
	color:#ffc451;
	font-size:40px;
}	
     	/* team banner section style*/
.team-banner-section{
       background-image:linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),url(../image/testimonials-bg.jpg);
	   background-repeat:no-repeat;
	   background-size:cover;
	   background-position:center center;
	   background-attachment:fixed;
	   padding:100px 0;
} 
.team-banner-content{
	justify-content:center;
	text-align:center;
       
}
.team-banner-content h3{
	color:white;
	font-size:19px;
	margin-bottom:5px;
}
.team-banner-content h4{
	color:#ddd;
	font-size:14px;
	margin-bottom:18px;
}
.team-banner-content p{
	color:#eee;
	line-height:2;
	margin-bottom:20px;
}
.team-banner-content img{
      border-radius:50%;
	  width: 100px;
      border: 6px solid rgba(255, 255, 255, 0.15);
      margin: 0 auto;
} 
      /*team section style*/
.team-section{
       padding:80px 0;
} 
.team-image img{
          width:100%;
		  height:auto;
		  border-radius:5px;
}
.team-content{
	padding:25px 20px;
}
.team-content h4{
	margin-bottom:3px;
}
.team-content p{
	font-size:13px;
	color:#aaaaaa;
}
.team-box{
	margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	border-radius:5px;
}

    /*--------contact section style------*/
.contact-section{
	 padding:80px 0;
}
/*.contact-map{
	background-color:pink;
	height:100px;
}*/
.address{
	
}
.email{
	
}
.contact-add i{
	background-color:#ffc451;
	color:#444;
	font-size:25px;
	border:1px solid #ffc451;
	border-radius:5px;
	padding:8px;
}
.contact-form{
	padding-left:20px;
}
    /*--------address section style-----*/
.address-section{
	padding:80px 0;
}
