.container{
	width:1170px;
	padding:0 15px;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
.row>*{
	width:100%;
	padding:0 15px;
}
.col-lg-1{ 
      width:8.33%;
	  padding:0 15px;
}
.col-lg-2{ 
      width:16.66%;
	  padding:0 15px;
}
.col-lg-3{ 
      width:25%;
	  padding:0 15px;
}
.col-lg-4{ 
      width:33.33%;
	  padding:0 15px;
}
.col-lg-5{ 
      width:41.66%;
	  padding:0 15px;
}
.col-lg-6{ 
      width:50%;
	  padding:0 15px;
}-
.col-lg-7{ 
      width:58.33%;
	  padding:0 15px;
}
.col-lg-8{ 
      width:66.66%;
	  padding:0 15px;
}
.col-lg-9{ 
      width:75%;
	  padding:0 15px;
}
.col-lg-10{ 
      width:83.33%;
	  padding:0 15px;
}
.col-lg-11{ 
      width:91.66%;
	  padding:0 15px;
}
.col-lg-12{ 
      width:100%;
	  padding:0 15px;
}
      /*Common style -------*/
.buttons{
	display:inline-block;
	text-decoration:none;
	color:white;
	font-size:15px;
	padding:10px 28px;
	border:2px solid #ffc451;
    border-radius:5px;
	letter-spacing:1px;
    font-weight:500;
	transition:all 0.3s ease;
}
.buttons:hover{
	  background-color:#ffc451;
	  color:black;
}
/*-----flex style------*/
.align-items-start{
        align-items:flex-start !important;
} 
.align-items-center{
        align-items:center !important;
} 
.align-items-end{
        align-items:flex-end !important;
} 
.align-items-baseline{
        align-items:baseline !important;
} 
.align-items-stretch{
        align-items:stretch !important;
} 
 /*----------text align style---->*/
 .text-left{
	  text-align:left !important;
 }
.text-center{
	  text-align:center !important;
}
.text-right{
	  text-align:right !important
}
  /*header section style*/
.header-section{
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color:rgba(0,0,0,0);
	padding:10px ;
}
h1.logo>a{
    color:white;
	text-decoration:none;
	display:inline-block;
	font-size:35px;
	letter-spacing:1px;
	font-weight:600;
	text-transform:uppercase;
}
h1.logo>a>span{
	color:#ffc451;
}
.navbar >.nav-list{
	text-align:center;
}
.navbar .nav-list .nav-items{
	   display:inline-block;
}
.nav-items>a{
	display:block;
	text-decoration:none;
	color:white;
	font-size:15px;
	padding:15px 12px;
	transition:all 0.3s ease;
}
.nav-items > a:hover{
	color:#ffc451;
}
.nav-button{
	border-color:#ffc451;
}
.dropdown, .dropdown-sub{
	position:relative;
}
.dropdown-nav, .dropdown-sub-nav{
	position:absolute;
	top:100%;
	left:58%;
	background-color:white;
	min-width:180px;
	padding:10px 0;
	/*box-shadow:0 1px 8px #777;*/
	opacity:0;
	visibility:visible;
	transform:translateY(30px);
	transition:all 0.3s ease;
}
.dropdown-sub-nav{
	left:94%;
	transform:translateX(-30px);
}
.dropdown-nav > a > i,.dropdown-sub-nav{
	margin-left:8px;
}
.dropdown:hover .dropdown-nav, .dropdown-sub:hover .dropdown-sub-nav{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
}
.dropdown-nav > li > a,.dropdown-sub-nav > li > a{
	  display:block;
	  text-decoration:none;
	  color:black;
	  font-size:15px;
	  text-align:left;
	  line-height:2;
	  padding:0 12px;
	  transition:all 0.3s ease;
}
.dropdown-sub > a >i{
	margin-left:10px;
}
.dropdown-nav > li > a> i,.dropdown-sub-nav > li > a> i{
	position:absolute;
	top:25%;
	right:35px;
	transform:translateY(-50);
}
.dropdown-nav > li > a:hover,.dropdown-sub-nav > li > a:hover{
	background-color:#ffc451;
	color:black;
}
.dropdown-sub .dropdown-nav .dropdown:hover{
	opacity:1;
	visibility:visible;
}

     /*bannner section start*/
.banner-section{
       background-color:pink;
	   background-image:linear-gradient(rgb(0 0 0/60%),rgb(0 0 0/60%)),url(../image/hero.jpg);
	   background-repeat:no-repeat;
	   background-size:cover;
	   background-position:center top;
	   background-attachment:fixed;
	   padding:150px 0 150px;
	  /* height:100vh;*/
} 
.banner-items{
       justify-content:center;
}
.banner-content{
	   text-align:center;
	   margin-bottom:80px;
}
.banner-content h1{
	   color:white;
	   font-size:55px;
	   font-weight:800;
	   line-height:60px;
	   padding-bottom:18px;
}
.banner-content h1 span{
	color:#ffc451;
}
.banner-content p{
	color:#eee;
	font-size:23px;
}
.banner-box{
	border:1px solid #777;
	text-align:center;
	padding:30px 15px;
	color:white;
	height:100%;
	transition:all 0.3s ease;
}
.banner-box h4{
	font-size:20px;
}
	
.banner-box i{
	color:#ffc451;
	font-size:25px;
	display:inline-block;
	margin-bottom:20px;
}
.banner-box:hover{
	 border-color:#ffc451;
}
    /*about section style*/
.about-section{
         padding:80px 0;
}
.about-content h3{
	   font-size:30px;
	   margin-bottom:15px;
}
.about-content p{
	   margin-bottom:20px;
}
.about-content ul{
	margin-bottom:20px;
}
.about-content ul li{
	padding-bottom:15px;
	position:relative;
	padding-left:20px;
}
.about-content ul li i{
	color:#ffc451;
	position:absolute;
	top:0;
	left:0;
	font-size:15px;
}
.about-image img{
       width:100%;
	   height:auto;
}	 
      /*  client logo section style*/
.client-logo-section{
         background-color:pink;
         padding:80px 0;
}
.client-logo{
          background-color:black;
          height:80px;
}
		/*about2 section style*/
.about2-section{
         background-color:black;
         padding:80px 0;
}
.about2-image{
        background-color:pink;
        height:450px;
}
.about2-content{
        background-color:pink;
        height:450px;
}	 
    /*services section style*/   
.services-title{
	   background-color:pink;
	   padding:10px;
}
.title{
	background-color:lightblue;
	height:50px;
}
.logo-services-content{
	 background-color:pink;
	   padding:10px;
}
.services-content{
	background-color:black;
	height:100px;
	margin-top:10px;
} 
       /* call action style*/
.call-action-section{
       background-color:black;
	   padding:80px 0;
} 
.call-action-content{
       background-color:pink;
         height:200px;
}
          /* portfolio section style*/
.portfolio-section{
	      background-color:pink;
		  padding:80px 0;
}
.portfolio-menu{
	background-color:black;
	height:40px;
}
.portfolio-box{
	background-color:black;
	height:100px;
	margin-top:20px;
}
	/*about3 section style*/
.about3-section{
         background-color:black;
         padding:80px 0;
}
.about3-image{
        background-color:pink;
        height:450px;
}
.about3-content{
        background-color:pink;
        height:450px;
}	 
     	/* team banner section style*/
.team-banner-section{
       background-color:pink;
	   padding:80px 0;
} 
.team-banner-content{
       background-color:black;
         height:200px;
}		
      /*team section style*/
.team-section{
       background-color:black;
	   padding:80px 0;
} 
.team-image{
       background-color:pink;
         height:200px;
		 margin-top:20px;
}		

	  
